ENDPOINT_URL=https://<your-foundry-resource>.openai.azure.com/
AZURE_OPENAI_API_KEY=<provided by trainer>
API_VERSION=2025-01-01-preview
DEPLOYMENT_NAME_GPT_4_mini=gpt-4o-mini
TRACE_CONNECTION_STRING=InstrumentationKey=<your-key>;IngestionEndpoint=https://<your-region>.in.applicationinsights.azure.com/;LiveEndpoint=https://<your-region>.livediagnostics.monitor.azure.com/;ApplicationId=<your-app-id>
