AZURE_VISION_ENDPOINT=https://<your-resource>.cognitiveservices.azure.com/
AZURE_VISION_KEY=<your-key>

CUSTOM_VISION_TRAINING_ENDPOINT=https://<your-training-resource>.cognitiveservices.azure.com/
CUSTOM_VISION_TRAINING_KEY=<your-training-key>

CUSTOM_VISION_PREDICTION_ENDPOINT=https://<your-prediction-resource>.cognitiveservices.azure.com/
CUSTOM_VISION_PREDICTION_KEY=<your-prediction-key>
CUSTOM_VISION_PREDICTION_RESOURCE_ID=/subscriptions/<sub-id>/resourceGroups/<rg>/providers/Microsoft.CognitiveServices/accounts/<prediction-resource-name>
